<html>
<head>
	<title>
		Calibrations2K17
	</title>
<link rel="stylesheet" type="text/css" href="stylecheckbox.css">
  <style type="text/css">
  li:hover
  {
cursor:pointer;
  }
    .navhead1
    {
      font-size: 120%;
      background-color: #424242 ;
    }
    .home
    {
       background-color:#5B017C;
      height: auto;
      width: 100%;
    }
    .home1
    {
      background-color:#5B017C;
    }
    .events
    {
      background-image: url("memphis-colorful.png");
            width: 100%;
    }
    .events1
    {
      background-image: url("memphis-colorful.png");  
    }
    .general1
    {
      background-color: #FFDE00;     
    }
    .general
    {
      background-color: #FFDE00;
      height:100%;
            width: 100%;
    }
    .contact1
    {
      background-color: #00D0DB;    
    }
    .contact
    {
      height: 100%;
            width: 100%;
      background-color: #00D0DB;
    }
    .register1
    {
      background-image: url("grey_wash_wall_@2X.png");
    }
    .register
    {
      background-image: url("grey_wash_wall_@2X.png");
      height: auto;
      width: 100%;
    }
    .content
    {
      margin-top: -20px;
    }
    .imgstyle
    {
      width:10%;
      height: auto;
      margin:2%;
      text-align: center;
    }
    .head
    {
      color: #FFDE00;
      margin:2%;
    }
    .cente
    {
      text-align: center;
    }
    .inpu
    {
      background-color: #333;
      width: 30%;
      border:0px;
      padding: 1%;
      color: #fff;
      opacity: 0.5;
    }
    .gap
    {
      margin-bottom: 1%;
    }
    .eve
    {
      color: #FFDE00;
      margin-left: 10%;
      margin-bottom:4%;
      opacity: .85;
    }
    .eve:hover
    {
      color:#fff;
      margin-left: 10%;

    }
    .navbar
    {
      border-radius: 0px! important;
    }
    label
    {
      margin-left: 1%;
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFDE00;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFDE00;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFDE00;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #FFDE00;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #FFDE00;
}
.eve2
{
color: #FFDE00; 
text-align:center;
}
.butto
{
  background-color: #FFDE00; 
  padding: 0.5%;
  border:0px; 
  width: 10%;
  font-size: 150%!important;
  margin-bottom: 10%;
}
.headimg
{
width: 100%;
 height:auto;
 display: block;
}
.headimgmob
{
 display: none;
}
.cente1
{
  margin-top:2%;
  margin-bottom: 2%;
  text-align: center;
}
.eveList
{
  text-align: left;
  padding: 2%;
}
.eveList:hover
{
  background-color: #DCDCDC;
  padding: 2%;
  text-align: left;
  cursor: pointer;
}
.scrol
{
  height: 70%;
  overflow: scroll;
}
.evecontent
{
  padding: 4%;
  text-align: center;
}
.imgicon
{
	width: 30%; 
	height: auto;
	text-align: center;
}
.imgicon1
{
	width: 40%; 
	height: auto;
	text-align: center;
}
.imgicon2
{
	width: 35%;
	height: auto;
	text-align: center;
}
.end
{
text-align: left!important;
margin-left: 35%;
}
.channelsurf
{
	text-align: left!important ;
	margin-left: 25%;
}
.bat
{
	text-align: left!important;
	margin-left: 30%;
}
.ttt
{
	text-align: left!important;
	margin-left: 20%;
}
.mc
{
	text-align: left!important;
	margin-left: 12%;
}
.gc
{
	text-align: left!important;
	margin-left: 20%;
}
@media only screen and (max-width: 768px) {

  .home
    {
      background-color: #5B017C;
      max-height: 100%;
      max-width: 100%;
    }
    .register
    {
      max-width: 100%;
    }
  .inpu
    {
      background-color: #333;
      width: 70%;
      border:0px;
      font-size: 120%!important;
      padding: 1%;
      color: #fff;
      opacity: 0.5;
    }
    .eve2
    {
      color: #FFDE00; 
    }
     .head
    {
      color: #FFDE00;
      margin:4%;
    }
    .butto
    {
      background-color: #FFDE00; 
  padding: 1%;
  border:0px; 
  width: 40%;
    }
    .butto:hover
    {
      background-color: #fff; 
  padding: 1%;
  border:0px; 
  width: 40%;
    }
    .inpu
    {

    }
    .headimg
    {
      display: none;
    }
    .headimgmob
{
width: 100%;
 height:auto;
 display: block;
}
.mobile
{
  margin-left:10%;
  margin-right: 10%; 
  margin-bottom: 10%;
}
.imgicon
{
	width: 75%; 
	height: auto;
	text-align: center;
}
.imgicon1
{
	width: 100%; 
	height: auto;
	text-align: center;
}
.imgicon2
{
	width: 90%;
	height: auto;
	text-align: center;
}
.end
{
text-align: left!important;
margin-left: 0%!important;
}
.channelsurf
{
	text-align: left!important ;
margin-left: 0%!important;
}
.bat
{
	text-align: left!important;
margin-left: 0%!important;
}
.ttt
{
	text-align: left!important;
margin-left: 0%!important;
}
.mc
{
	text-align: left!important;
margin-left: 0%!important;
}
.gc
{
	text-align: left!important;
margin-left: 0%!important;
}
.eve
{
  font-size: 120%!important;
}
}
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCtrl">
  <nav class="navbar navbar-inverse navhead1 ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="index.html">CALIBS2K17</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
      <li ng-click="open1()"><a>EVENTS</a></li>
        <!--<li ng-click="open2()"><a>GENERAL RULES</a></li>
        <li ng-click="open3()"><a>CONTACT</a></li>-->
        <li ng-click="open4()"><a><span class="glyphicon glyphicon-user"></span> REGISTER</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="content" ng-class="styl">
<div class="home " ng-hide="block1">
<div class="row animated fadeInUpBig">
<div class="col-sm-12">
  <img src="134699-OS9W8O-672-01-01-01-01.jpeg" class="headimg" name="picture">
  <img src="134699-OS9W8O-672-01-01-01-01-01.jpeg" class="headimgmob" >
</div>
</div>
</div>

<div class="events " ng-class="css" ng-hide="block2">
  <div class="row">
     <h1 class="cente1">Events</h1>
    <div class="well col-sm-offset-2 col-sm-8 mobile">
      <h3 class="eveList" ng-click="event1()">Stress Interview<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide1" class="evecontent"><img src="reunion.png" class="imgicon"><br><br><h4>Ever wondered how MS Dhoni stays calm in tense situations?<br>Do you think you too can pull it off? Here is a chance to put your nerves to test.<br><br><strong>Time: 09:00 AM - 10:30 AM<br><br>Venue: Function Hall<br><br>Adithya Manivannan - 8939640145</h4></strong>
</div>
      <h3 class="eveList" ng-click="event2()">Adzap<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide2" class="evecontent"><img src="statistics.png" class="imgicon"><br><br><h4><strong>" Sell me this pen! "</strong><br>
Put your marketing skills to a test where you sell everything from samosas to chappals to wigs.<br><br><strong>Time: 10:30 AM - 12:00 PM<br><br>Venue: Video Hall<br><br>
  Akhil Menon - 8122886537</h4></strong>
</div>
      <h3 class="eveList" ng-click="event3()">Adaptune<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide3" class="evecontent"><img src="music.png" class="imgicon"><br><br><h4>From hip-hop to salsa, from kathak to kuthu change your moves as we change the song.<br><br><strong>Time: 09:00 AM - 10:30 AM<br><br>Venue: Multi Purpose Hall<br><br> 
Yagna - 9952961017</h4></strong>

</div>
      <h3 class="eveList" ng-click="event4()">Group Dance<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide4" class="evecontent""><img src="dancing.png" class="imgicon"><br><br><h4><strong>Kala Chasma. Danga Maari Oodhari. Despacito.</strong><br> Gang up, show us your killer moves! Shake some legs together with your squad.<br><br><strong>Time: 12:00 PM - 02:00 PM<br><br>Venue: Multi Purpose Hall<br><br>Shreya Ramesh - 9841627203</h4></strong>
</div>
      <h3 class="eveList" ng-click="event5()">Battle of Bands<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide5" class="evecontent"><img src="drum-set.png" class="imgicon"><br><br><h4>It might seem like a battle amongst various bands but it is a <strong>war among notes</strong>, rage of rhythm and a clash of octaves.<br><br><strong>Time: 12:00 PM - 02:00 PM<br><br>Venue: Multi Purpose Hall<br><br>
Akhil Menon - 8122886537</h4></strong>

</div>
      <h3 class="eveList" ng-click="event6()">Spotlight<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide6" class="evecontent"><img src="spotlight.png" class="imgicon"><br><br><h4> Step into the spotlight and unleash your talent. Be it singing or dancing or mono-acting or mimicry or stand-up comedy or even whistling,<br> <strong>it's time for you to own the stage.<br><br>Time: 10:30 AM - 12:00 PM<br><br>Venue: Multi Purpose Hall<br><br>
Shreya Ramesh - 9841627203</h4></strong>

</div>
      <h3 class="eveList" ng-click="event7()">Treasure Hunt<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide7" class="evecontent"><img src="treasure-map.png" class="imgicon"><br><br><h4><strong>Find your eye-patch and put on the pirate’s hat. The quest for treasure is on.</strong><br>
A prelims round which will be on paper. Teams that qualify the first round will be sent to the next round which will be finding hidden objects/completing tasks  inside the campus.<br><br><strong>Time: 9:00 AM - 12:00 PM<br><br>Venue: EG Hall - 1st Floor<br><br>Fehmaan - 9841616249</h4></strong>
 
</div>
      <h3 class="eveList" ng-click="event8()">Gully Cricket<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide8" class="evecontent"><img src="cricket.png" class="imgicon"><br><br><h4>
        <strong>"Thambi, Bowling ah Fielding ah?"</strong><br>Get back to real street cricket with this game! <br>It's the _Namma Chennai Game_..<br>#TheBoysAreBack<br><br>
        <div class="gc">Rules:<br>
This set of rules depends on the no. of buildings and trees in the area.</div><br><br><strong>Time: 9:00 AM - 10:30 AM<br><br>Venue: Basketball Court<br><br>
Lokesh-7639356987</h4></strong>

</div>
      <h3 class="eveList" ng-click="event9()">Master Chef<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide9" class="evecontent">
        <img src="chef-3.png" class="imgicon"><br><br><h4>
        Ingredients: Talent, enthusiasm,technique and creativity<br>
Preparation time: 1h 30 minutes<br>
Difficulty level: Intermediate<br>
<br>
<div class="mc">Instructions:
<ol><li>Take some talent and enthusiasm and mix until the right consistency is obtained. </li>
<li>Use your finest techniques.</li>
<li>Sprinkle creativity and bake until perfection. </li></ol></div><br><strong>Time: 9:00 AM - 10:30 AM<br><br>Venue: Classroom Block-2<br><br>
Ishwarya NK - 9092970099</h4></strong>

</div>
            <h3 class="eveList" ng-click="event11()">FIFA 18<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide11" class="evecontent"><img src="gamepad-2.png" class="imgicon"><br><br><h4>
        Tournament type : 1 VS 1 (Knockout Based)<br><br>Console : PS4 <br><br>
<div class="mc">
Rules : 
<ol><li>
4 minutes per half, After 90 minutes, if the game is tied, winner is decided by penalty shoot out.</li>
<li>
Tactical defending only (legacy defending not allowed)</li>
<li>
Camera angle : default, tele or tele broadcast
In case of clash, each half, camera angle will be changed according to player’s preference. </li>
<li>
No custom formation. </li>
<li>
Custom tactics are allowed.</li></ol></div>
<br><br><strong>Time: 10:30 AM - 12:00 PM<br><br>Venue: Classroom Block-2<br><br>Archit Venu - 9884821818</h4></strong>
</div>
      <h3 class="eveList" ng-click="event12()">Shipwreck<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide12" class="evecontent"><img src="ship-2.png" class="imgicon"><br><br><h4><strong>Time to get (ship)wrecked!</strong><br><br><strong>Time: 10:30 AM - 12:00 PM<br><br>Venue: Function Hall<br><br>
Aditya Manivannan - 8939640145</h4>

</div>
      <h3 class="eveList" ng-click="event13()">Block and Tackle<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide13" class="evecontent"><img src="debatess.png" class="imgicon2"><br><br><h4>Challenge your train of thought with the ultimate war of words where the participant is supposed to defend or oppose a proposition on the mention of "block"(favour) and "tackle"(against)<br>
NOT CHALLENGING ENOUGH?  Divulge in the next nerve-racking round of "spockle" where the participant will not only defend or oppose but will also deviate entirely from the proposition on the mention of "spockle".<br><br>
<div class="bat" >Rules:<br>
Block, tackle or get derailed (disqualified).

</div><br><br><strong>Time: 10:30 AM - 12:00 PM<br><br>Venue: EG Hall - 2nd Floor<br><br>
Harita Ramesh - 7358160040</h4>

</div>
      <h3 class="eveList" ng-click="event14()">Quiz-o-mania<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide14" class="evecontent"><img src="question.png" class="imgicon"><br><br><strong><h4>Kelvi kekardhu romba easy-nga :P</strong><br>
  Badhil solradhu dhaan kastam!<br>
  
  Join us for a fun-filled Quizzing session!<br><br>
  <strong>Pinnaadi Munnaadi Ena irundhuchu? :P</strong><br><br><strong>Time: 10:30 AM - 12:00 PM<br><br>Venue: Classroom Block-2<br><br>

Arvind PG - 97890 23484​</h4>

</div>
      <h3 class="eveList" ng-click="event15()">Tug of War<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide15" class="evecontent"><img src="rope.png" class="imgicon"><br><br><h4>Time to show your strength,<br>
The contest for supremacy.<br>
David vs Goliath.<br>
Batman vs Superman.<br>
Time to settle scores on the battlefield and heave ho! 💯⁠⁠⁠⁠<br><br><strong>Time: 09:00 AM - 10:30 AM<br><br>Venue: Ground<br><br>
Mani - 77080 07270</h4></strong>

</div>
     
      <!--<h3 class="eveList" ng-click="event17()">Writing Contest<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide17" class="evecontent">
</div>-->
     
      <h3 class="eveList" ng-click="event19()">Channel Surfing<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide19" class="evecontent"><img src="entertainment.png" class="imgicon"><br><br><h4><strong>We all love our idiot boxes , don’t we?<br> So be our idiot box for few minutes!</strong><br> As the judges put your team to test by naming different channels<br> the team should act out the scenes in various channels.<br> The most creative , well synchronized and humorous performances will be named winners.<br><br>
        <div class="channelsurf">Rules:<br>
          <ol>
            <li>Vulgarity will not be tolerated. Team will be disqualified.</li>
            <li>Team of not more than 5</li>
            <li>Team members can be from different departments or years</li>
            <li>Time limit per round : 5 mins</li>
          </ol>
        </div><br><strong>Time: 09:00 AM - 10:30 AM<br><br>Venue: Video Hall<br><br></strong></h4>


</div>
      <h3 class="eveList" ng-click="event20()">Dumb Charades<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide20" class="evecontent"><img src="unnamed.png"><br><br><h4><strong>Actions speak louder than words.</strong><br> Tweaking it to our convenience, we challenge your charades to speak louder than words and stun us with your ‘dumb’ act at Calibs 2k17!
      <div class="channelsurf">      Rules :<br>
      <ol>
<li>Each team consists of three members </li>
<li>There will be two rounds- prelims and finals </li>
<li>Pointing at people or objects, lip movement, sounds are prohibited.</li> 
<li>Splitting of words is not allowed.</li></ol></div>
 <br><br><strong>Time: 09:00 AM - 10:30 AM<br><br>Venue: Classroom Block 2<br><br>Harshitha - 9566032825</h4></strong>
</div>
      <!--<h3 class="eveList" ng-click="event21()">Musical.ly<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide21" class="evecontent"><img src="Musical.ly.png" class="imgicon1"><br><br><h4>Online Event<br><br></h4>
</div>-->
      <h3 class="eveList" ng-click="event22()">Football Fives<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide22" class="evecontent"><img src="football-player.png" class="imgicon"><br><br>
        <div class="bat"><h4>
          Rules<br>
          <ol><li>Teams of five</li>
 <li>Football rules apply</li></ol></h4>
</div>
</div>
      <h3 class="eveList" ng-click="event23()">Junk Art<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide23" class="evecontent">
        <img src="painting-palette.png" class="imgicon"><br><br>
        <h4><strong>Art doesn't have to hang on a wall with a gold frame.</strong><br> You can take random objects and build them into pieces of beautiful structures.<br> Individually these objects may seem unwanted and out of place, but when assembled together, it can be a MASTERPIECE ! <br>
Get your junk together and turn them into ART.<br><br>
<div class="mc">
RULES :
<ul><li>The team can consists of 1-4 members.</li>
  <li>The time period is of 1 hour 30 minutes.</li>
  <li>Those who waste minimum resources provided to you and bring your art attractive will take away prizes.</li>
</ul>
HOLD UP!<br><br>
   ⏰  Those who follow the above mentioned rules and still manage to complete the art well before time will get bonus points.
 </div><br><br><strong>Time: 09:00 AM - 12:00 PM<br><br>Venue: Open Air Theatre<br><br>
Ganesh - +91 97911 54549
</h4></strong>

</div>
      <h3 class="eveList" ng-click="event24()">Minute To Win It<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide24" class="evecontent"><img src="stopwatch.png" class="imgicon"><br><br><h4>How long does it take for you to complete a small task? Does it take a couple of minutes? <br>
<strong>Now let's say you have 60 SECONDS,  could you possibly complete the "Wild" and "Wacky" challenges</strong>,<br> we have lined up for you!? Well, you could wonder, or find out for yourself in our cluster of several events compiled into "minute to win it".<br><br><strong>Time: 09:00 AM - 12:00 PM<br><br>Venue: EG Hall - 2nd Floor<br><br>Purnima - 9677024827 </h4></strong>

</div>
      <h3 class="eveList" ng-click="event25()">The End<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide25" class="evecontent"><img src="actor.png" class="imgicon"><br><br><h4><strong>Show off your acting skills and get your creative wheels rolling as we present to you "The End".</strong>We ask you to give the most BIZARRE, TWISTED ALTERNATIVE ENDING anyone could possibly IMAGINE! Participants will be given a movie from the language (ENGLISH, TAMIL, HINDI)  of their choice.<br><br>
<div class="end">
  Vulgarity will not be tolerated.<br>
  Prep time : 5 minutes<br>
  Performance : 5 minutes</div><br>
<strong>Time: 09:00 AM - 12:00 PM<br><br>Venue: EG Hall - 2nd Floor<br><br>
Harita Ramesh - 7358160040</h4>

</div>

    </div>
  </div>
<div class="row">
<h1 class="cente1">Online Events</h1>
    <div class="well col-sm-offset-2 col-sm-8 mobile">
 <h3 class="eveList" ng-click="event16()">Photography<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide16" class="evecontent"><img src="photo-camera.png" class="imgicon"><br><br><h4><strong>Mobile photographer? Dslr photographer? Come show us a glimpse of the world through your eyes, not your equipment!</strong><br><br>Gear up freshers, grab those cameras of yours, and exhibit your Artistic skills by clicking something very unique and something of a whole new perspective. SVCE Calibrations 2017's Photography contest - The Artsy Lens offers you a wonderful chance to showcase your photography skills. <br><br>Send in your entries to our email id - calibs2k17@gmail.com<br><br>

Arihant Bafna - 97898 29146​⁠​</h4>
</div>

<h3 class="eveList" ng-click="event10()">Terribly Tiny Tales<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide10" class="evecontent"><img src="quill.png" class="imgicon"><br><br><strong><h4> He wanted to tell the world about the turmoil within.<br>He picked up his pen. For the ‘Pen is mightier than the sword’.<br></strong>
Tell us your stories in the tiniest tale possible.<br><br>
Send in your entries to our email id - calibs2k17@gmail.com
<br><br>
<div class="ttt">
Judging criteria :
<ul><li>Theme used</li>
<li>Originality</li>
<li>Likes obtained will be considered too</li></ul>
Rules : 
<ul><li>No plagiarism</li>
<li>Content should not exceed 4 lines</li>
<li>Only one entry per person</li>
<li>Entries for the event will be accepted till 6pm of September 27th.</li>
</ul>
</div><br>
Sankararaman - 9442607927​⁠​</h4>
</div>

 <h3 class="eveList" ng-click="event18()">Nee Adhuku Seri Pattu Vara Maata<span class="caret pull-right"></span></h3>
      <div ng-hide="evehide18" class="evecontent"><img src="fc63449764887a6940a6bfb7f70da1d1b1837221c971c8851d816d5f48a830ad.jpg" class="imgicon"><br><br><br><h4><strong>Memes are a powerful form of ideas that can make you laugh, think, and/or perform actions like share them on your social media pages making them viral. They are easy to create and can give you promising results if done right.<br></strong><br>Here is a chance to express your creativity<br><br>Topic : Engineering<br><br>Winners will be choosen based on their creativity,likes and shares<br><br>
<div class="mc">RULES:
<ul><li>No profanity.</li>
<li>No plagiarism.</li>
<li>We are looking for fun, cool memes. No need to hurt anybody’s sentiments.</li>
</ul></div><br><br>
Sudharsan V - 9445728666</h4>
</div>
</div>
</div>
</div>
<!--<div class="general" ng-class="css" ng-hide="block3"></div>

<div class="contact" ng-class="css" ng-hide="block4"></div>-->

<div class="register" ng-class="css" ng-hide="block5">
  <div class="row gap">

  <div class="col-sm-12 cente"><h1 class="head">REGISTER HERE !</h1></div>
    <form method="post" action="insert.php" name="myForm" onsubmit="return validateForm()">
    <div class="col-sm-12 gap cente">
    <input class="inpu" type="text" name="name" placeholder="Name" required="true">
    </div>
    <div class="col-sm-12 gap cente">
    <input class="inpu" type="text" name="dept" placeholder="Department" required="true">
    </div>
    <div class="col-sm-12 gap cente">
    <input class="inpu" type="text" name="sec" placeholder="Section" required="true">
    </div>
    <div class="col-sm-12 gap cente">
    <input class="inpu" type="text" name="mob" placeholder="Mobile Number" required="true">
    </div>
    <!--<div class="col-sm-12 gap cente">
    <input class="inpu" type="text" name="email" placeholder="Email" required="true">
    </div>-->
    <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
      <h2 class="eve2">Events</h2><br>
    </div>

    <div class="col-sm-offset-3 col-sm-2 ">
            <input type="checkbox" name="event[]" id="checkbox11" class="css-checkbox" value="Stress_Interview" />
            <label for="checkbox11" class="css-label dark-check-orange eve">Stress Interview</label><br>

            <input type="checkbox" name="event[]" id="checkbox12" class="css-checkbox" value="Adzap" />
            <label for="checkbox12" class="css-label dark-check-orange eve">Adzap</label><br>
 
            <input type="checkbox" name="event[]" id="checkbox13" class="css-checkbox" value="Adaptune"/>
            <label for="checkbox13" class="css-label dark-check-orange eve">Adaptune</label><br>

            <input type="checkbox" name="event[]" id="checkbox14" class="css-checkbox" value="Group_Dance"/>
            <label for="checkbox14" class="css-label dark-check-orange eve">Group Dance</label><br>

            <input type="checkbox" name="event[]" id="checkbox15" class="css-checkbox" value="Battle_of_Bands"/>
            <label for="checkbox15" class="css-label dark-check-orange eve">Battle of Bands</label><br>

            <input type="checkbox" name="event[]" id="checkbox16" class="css-checkbox " value="Spotlight"/>
            <label for="checkbox16" class="css-label dark-check-orange eve">Spotlight</label><br>
 
            <input type="checkbox" name="event[]" id="checkbox17" class="css-checkbox" value="Junk_Art"/>
            <label for="checkbox17" class="css-label dark-check-orange eve">Junk Art</label><br>

            <!--<input type="checkbox" id="checkbox18" class="css-checkbox"/>
            <label for="checkbox18" class="css-label dark-check-orange eve"></label><br>

            <input type="checkbox" id="checkbox19" class="css-checkbox"/>
            <label for="checkbox19" class="css-label dark-check-orange eve"></label><br>-->
    </div>

    <div class="col-sm-2 ">
            <input type="checkbox" name="event[]" id="checkbox21" class="css-checkbox" value="FIFA_18"/>
            <label for="checkbox21" class="css-label dark-check-orange eve">FIFA 18</label><br>

            <input type="checkbox" name="event[]" id="checkbox22" class="css-checkbox " value="Shipwreck"/>
            <label for="checkbox22" class="css-label dark-check-orange eve">Shipwreck</label><br>
 
            <input type="checkbox" name="event[]" id="checkbox23" class="css-checkbox" value="Block_and_Tackle"/>
            <label for="checkbox23" class="css-label dark-check-orange eve">Block and Tackle</label><br>

            <input type="checkbox" name="event[]" id="checkbox24" class="css-checkbox" value="Quiz_o_Mania"/>
            <label for="checkbox24" class="css-label dark-check-orange eve">Quiz-o-Mania</label><br>

            <input type="checkbox" name="event[]" id="checkbox25" class="css-checkbox" value="Gully_Cricket"/>
            <label for="checkbox25" class="css-label dark-check-orange eve">Gully Cricket</label><br>

            <input type="checkbox" name="event[]" id="checkbox26" class="css-checkbox " value="Tug_of_War"/>
            <label for="checkbox26" class="css-label dark-check-orange eve">Tug of War</label><br>
 
            <input type="checkbox" name="event[]" id="checkbox27" class="css-checkbox" value="football_five"/>
            <label for="checkbox27" class="css-label dark-check-orange eve">Football Five</label><br>

            <!--<input type="checkbox" id="checkbox28" class="css-checkbox"/>
            <label for="checkbox28" class="css-label dark-check-orange eve"></label><br>-->
    </div>

    <div class="col-sm-2 ">
            <input type="checkbox" name="event[]" id="checkbox31" class="css-checkbox" value="Minute_to_win_it"/>
            <label for="checkbox31" class="css-label dark-check-orange eve">Minute to win it</label><br>

            <input type="checkbox" name="event[]" id="checkbox32" class="css-checkbox " value="The_End"/>
            <label for="checkbox32" class="css-label dark-check-orange eve">The End</label><br>
 
            <input type="checkbox" name="event[]" id="checkbox33" class="css-checkbox" value="Treasure_Hunt"/>
            <label for="checkbox33" class="css-label dark-check-orange eve">Treasure Hunt</label><br>

            <input type="checkbox" name="event[]" id="checkbox34" class="css-checkbox" value="Master_Chef"/>
            <label for="checkbox34" class="css-label dark-check-orange eve">Master Chef</label><br>

            <input type="checkbox" name="event[]" id="checkbox35" class="css-checkbox" value="Dumb_Charades"/>
            <label for="checkbox35" class="css-label dark-check-orange eve">Dumb Charades</label><br>

            <input type="checkbox" name="event[]" id="checkbox36" class="css-checkbox " value="Channel_Surfing"/>
            <label for="checkbox36" class="css-label dark-check-orange eve">Channel Surfing</label><br>
 
            <!--<input type="checkbox" id="checkbox37" class="css-checkbox"/>
            <label for="checkbox37" class="css-label dark-check-orange eve"></label><br>

             <input type="checkbox" id="checkbox38" class="css-checkbox"/>
            <label for="checkbox38" class="css-label dark-check-orange eve"></label><br>-->
    </div>
  </div><br><br>
    <div class="row gap">
   <div class="cente "><input type="submit" class="butto" value="REGISTER"></div> 
   </div>
    </form>
</div>

</div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>

var app = angular.module("myApp", []);

app.controller("myCtrl",ListController);
function ListController($scope){
$scope.block1=false;
$scope.block2=true;
$scope.block3=true;
$scope.block4=true;
$scope.block5=true;


$scope.open=1;
$scope.ab=1;

$scope.evehide1=true;
$scope.evehide2=true;
$scope.evehide3=true;
$scope.evehide4=true;
$scope.evehide5=true;
$scope.evehide6=true;
$scope.evehide7=true;
$scope.evehide8=true;
$scope.evehide9=true;
$scope.evehide10=true;
$scope.evehide11=true;
$scope.evehide12=true;
$scope.evehide13=true;
$scope.evehide14=true;
$scope.evehide15=true;
$scope.evehide16=true;
$scope.evehide17=true;
$scope.evehide18=true;
$scope.evehide19=true;
$scope.evehide20=true;
$scope.evehide21=true;
$scope.evehide22=true;
$scope.evehide23=true;
$scope.evehide24=true;
$scope.evehide25=true;

$scope.i1=1;
$scope.i2=1;
$scope.i3=1;
$scope.i4=1;
$scope.i5=1;
$scope.i6=1;
$scope.i7=1;
$scope.i8=1;
$scope.i9=1;
$scope.i10=1;
$scope.i11=1;
$scope.i12=1;
$scope.i13=1;
$scope.i14=1;
$scope.i15=1;
$scope.i16=1;
$scope.i17=1;
$scope.i18=1;
$scope.i19=1;
$scope.i20=1;
$scope.i21=1;
$scope.i22=1;
$scope.i23=1;
$scope.i24=1;
$scope.i25=1;

$scope.event1=event1;
function event1()
{
$scope.i1++;
if($scope.i1%2==0)
  $scope.evehide1=false;
else
  $scope.evehide1=true;
}

$scope.event2=event2;
function event2()
{
$scope.i2++;
if($scope.i2%2==0)
  $scope.evehide2=false;
else
  $scope.evehide2=true;
}

$scope.event3=event3;
function event3()
{
$scope.i3++;
if($scope.i3%2==0)
  $scope.evehide3=false;
else
  $scope.evehide3=true;
}

$scope.event4=event4;
function event4()
{
$scope.i4++;
if($scope.i4%2==0)
  $scope.evehide4=false;
else
  $scope.evehide4=true;
}

$scope.event5=event5;
function event5()
{
$scope.i5++;
if($scope.i5%2==0)
  $scope.evehide5=false;
else
  $scope.evehide5=true;
}

$scope.event6=event6;
function event6()
{
$scope.i6++;
if($scope.i6%2==0)
  $scope.evehide6=false;
else
  $scope.evehide6=true;
}

$scope.event7=event7;
function event7()
{
$scope.i7++;
if($scope.i7%2==0)
  $scope.evehide7=false;
else
  $scope.evehide7=true;
}

$scope.event8=event8;
function event8()
{
$scope.i8++;
if($scope.i8%2==0)
  $scope.evehide8=false;
else
  $scope.evehide8=true;
}

$scope.event9=event9;
function event9()
{
$scope.i9++;
if($scope.i9%2==0)
  $scope.evehide9=false;
else
  $scope.evehide9=true;
}

$scope.event10=event10;
function event10()
{
$scope.i10++;
if($scope.i10%2==0)
  $scope.evehide10=false;
else
  $scope.evehide10=true;
}

$scope.event11=event11;
function event11()
{
$scope.i11++;
if($scope.i11%2==0)
  $scope.evehide11=false;
else
  $scope.evehide11=true;
}

$scope.event12=event12;
function event12()
{
$scope.i12++;
if($scope.i12%2==0)
  $scope.evehide12=false;
else
  $scope.evehide12=true;
}

$scope.event13=event13;
function event13()
{
$scope.i13++;
if($scope.i13%2==0)
  $scope.evehide13=false;
else
  $scope.evehide13=true;
}

$scope.event14=event14;
function event14()
{
$scope.i14++;
if($scope.i14%2==0)
  $scope.evehide14=false;
else
  $scope.evehide14=true;
}

$scope.event15=event15;
function event15()
{
$scope.i15++;
if($scope.i15%2==0)
  $scope.evehide15=false;
else
  $scope.evehide15=true;
}

$scope.event16=event16;
function event16()
{
$scope.i16++;
if($scope.i16%2==0)
  $scope.evehide16=false;
else
  $scope.evehide16=true;
}

$scope.event17=event17;
function event17()
{
$scope.i17++;
if($scope.i17%2==0)
  $scope.evehide17=false;
else
  $scope.evehide17=true;
}

$scope.event18=event18;
function event18()
{
$scope.i18++;
if($scope.i18%2==0)
  $scope.evehide18=false;
else
  $scope.evehide18=true;
}

$scope.event19=event19;
function event19()
{
$scope.i9++;
if($scope.i9%2==0)
  $scope.evehide19=false;
else
  $scope.evehide19=true;
}

$scope.event20=event20;
function event20()
{
$scope.i20++;
if($scope.i20%2==0)
  $scope.evehide20=false;
else
  $scope.evehide20=true;
}

$scope.event21=event21;
function event21()
{
$scope.i21++;
if($scope.i21%2==0)
  $scope.evehide21=false;
else
  $scope.evehide21=true;
}

$scope.event22=event22;
function event22()
{
$scope.i22++;
if($scope.i22%2==0)
  $scope.evehide22=false;
else
  $scope.evehide22=true;
}

$scope.event23=event23;
function event23()
{
$scope.i23++;
if($scope.i23%2==0)
  $scope.evehide23=false;
else
  $scope.evehide23=true;
}

$scope.event24=event24;
function event24()
{
$scope.i24++;
if($scope.i24%2==0)
  $scope.evehide24=false;
else
  $scope.evehide24=true;
}

$scope.event25=event25;
function event25()
{
$scope.i25++;
if($scope.i25%2==0)
  $scope.evehide25=false;
else
  $scope.evehide25=true;
}

$scope.oo=oo;
function oo()
{
/*if($scope.ab==1)
  $scope.styl="home";
if($scope.ab==2)
  $scope.styl="events";
if($scope.ab==3)
  $scope.styl="general";
if($scope.ab==4)
  $scope.styl="contact";
if($scope.ab==5)
  $scope.styl="register";*/
}

$scope.open1=open1;
function open1()
{
  $scope.oo();
$scope.block1=true;
$scope.block3=true;
$scope.block4=true;
$scope.block5=true;
$scope.block2=false;
$scope.ab=$scope.open;
$scope.open=2;
$scope.classs();
}

$scope.open2=open2;
function open2()
{
  $scope.oo();
$scope.block1=true;
$scope.block2=true;
$scope.block4=true;
$scope.block5=true;
$scope.block3=false;
$scope.ab=$scope.open;
$scope.open=3;
$scope.classs();
}  

$scope.open3=open3;
function open3() {
  $scope.oo();
$scope.block1=true;
$scope.block2=true;
$scope.block3=true;
$scope.block5=true;
$scope.block4=false;
$scope.ab=$scope.open;
$scope.open=4;
$scope.classs();
  }
$scope.open4=open4;
function open4() {
  $scope.oo();
$scope.block1=true;
$scope.block2=true;
$scope.block3=true;
$scope.block4=true;
$scope.block5=false;
$scope.ab=$scope.open;
$scope.open=5;
$scope.classs();
  }  

$scope.classs=classs;
function classs()
{
if($scope.open>$scope.ab)
  $scope.css="animated fadeInRightBig";
else if ($scope.open<$scope.ab)
  $scope.css="animated fadeInLeftBig";
}
};

</script>
<script>
function validateForm() {
    var x = document.myForm.mob.value;
    if (x.length!=10) {
        alert("Invalid Mobile Number");
        return false;
    }
    else
    {
      if(x.match(/^\d{10}$/)!=null)
      {
        var regExp = /^0[0-9].*$/
        if(regExp.test(x)==true){
          alert("Invalid Mobile Number");
          return false;
        }
      }
    }
}
</script>
</html>